{# templates/security/login.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-5">Autentificare</h1>

        {% for message in app.session.flashbag().get('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.session.flashbag().get('error') %}
            <div class="alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}

        <div class="row justify-content-center">
            <div class="col-md-6">
                <form action="{{ path('app_login') }}" method="post" class="needs-validation" novalidate>
                    <div class="mb-3">
                        <label for="username" class="form-label">Email</label>
                        <input type="text" id="username" name="_username" class="form-control"
                               value="{{ last_username }}" required/>
                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label">Parola</label>
                        <input type="password" id="password" name="_password" class="form-control" required/>
                    </div>

                    <div class="mb-3">
                        <button class="btn btn-primary w-100" type="submit">Autentificare</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        (function () {
            'use strict'
            var forms = document.querySelectorAll('.needs-validation')
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }
                        form.classList.add('was-validated')
                    }, false)
                })
        })()
    </script>
{% endblock %}
